<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box Form</title>
</head>
<body>

    <form id="boxForm" method="post" action="{% url 'save_data' %}">
        {% csrf_token %}
        
        <div>
            <label for="box1">Box 1:</label>
            <input type="text" id="box1" name="box1">
            <button type="submit" name="submit_btn" value="box1">Submit</button>
        </div>

        <div>
            <label for="box2">Box 2:</label>
            <input type="text" id="box2" name="box2">
            <button type="submit" name="submit_btn" value="box2">Submit</button>
        </div>

        <div>
            <label for="box3">Box 3:</label>
            <input type="text" id="box3" name="box3">
            <button type="submit" name="submit_btn" value="box3">Submit</button>
        </div>

        <div>
            <label for="box4">Box 4:</label>
            <input type="text" id="box4" name="box4">
            <button type="submit" name="submit_btn" value="box4">Submit</button>
        </div>
    </form>

</body>
</html>
